<md-card>
    <md-card-title>{{title}}</md-card-title>

    <md-card-content fxLayout="column" class="flex-container" fxLayoutGap="20px">

        <div fxLayout="row" fxLayoutGap="10px" class="flex-container">

            <md-input-container class="flex-item" fxFlex>
                <input md-input placeholder="Dado 1" maxlength="100" value="">
            </md-input-container>

            <md-input-container class="flex-item" fxFlex>
                <input md-input placeholder="Dado 2" maxlength="100" value="">
            </md-input-container>

            <md-input-container class="flex-item" fxFlex>
                <input md-input placeholder="Dado 3" maxlength="100" value="">
            </md-input-container>

            <md-input-container class="flex-item" fxFlex>
                <input md-input placeholder="Dado 4" maxlength="100" value="">
            </md-input-container>


        </div>


        <div fxLayout="row" fxLayoutGap="10px" class="flex-container">

            <md-input-container class="flex-item" fxFlex>
                <input md-input placeholder="Dado 5" maxlength="100" value="">
            </md-input-container>

            <md-input-container class="flex-item" fxFlex>
                <input md-input placeholder="Dado 6" maxlength="100" value="">
            </md-input-container>

            <md-input-container class="flex-item" fxFlex>
                <input md-input placeholder="Dado 7" maxlength="100" value="">
            </md-input-container>

            <md-input-container class="flex-item" fxFlex>
                <input md-input placeholder="Dado 8" maxlength="100" value="">
            </md-input-container>


        </div>


        <div fxLayout="row" fxLayoutGap="10px" class="flex-container">

            <md-checkbox [checked]="true" color="primary" fxFlex>
                Flag 1
            </md-checkbox>

            <md-checkbox [checked]="true" color="primary" fxFlex>
                Flag 2
            </md-checkbox>

            
                <md-select placeholder="Selecione na Lista" fxFlex>
                    <md-option *ngFor="let d of data" [value]="d.code">
                        {{ d.name }}
                    </md-option>
                </md-select>
            




            <button md-raised-button color="primary">Buscar</button>




        </div>


    </md-card-content>


</md-card>